
<div>
    <mat-card>
        <mat-card-title>Cadastro de Funcionários</mat-card-title>
        <mat-card-content>
            <form autocomplete="off" (ngSubmit)="onSubmit()">
                <p>
                    <mat-form-field>
                        <input type="text" matInput class="form-control" [(ngModel)]="funcionario.nome" name="nome" placeholder="Nome">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <input type="text" matInput class="form-control" [(ngModel)]="funcionario.dataAdmissao" name="dataAdmissao" placeholder="Data de Admissão">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <input type="text" matInput class="form-control" [(ngModel)]="funcionario.padaria" name="padaria" placeholder="Padaria">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field>
                        <input type="text" matInput class="form-control" [(ngModel)]="funcionario.horario" name="horario" placeholder="Horário de Trabalho">
                    </mat-form-field>
                </p>
            <mat-card-actions class="button">
                <button type="submit" color="accent" mat-raised-button>Salvar</button>
                <button type="reset" color="primary" mat-raised-button>Cancelar</button>
            </mat-card-actions>
            </form>
        </mat-card-content>
    </mat-card>
</div>