<div class="card mt-2" *ngFor="let padaria of padarias | async">
    <div class="card-body">
        <h3 class="card-title">Padaria: {{padaria.filial}}</h3>
        <p class="card-text">Endereço: {{padaria.endereco}}</p>
        <p class="card-text">Bairro: {{padaria.bairro}}</p>
        <p class="card-text">Cidade: {{padaria.cidade}}</p>
        <p class="card-text">Estado: {{padaria.estado}}</p>
        <p class="card-text">CEP: {{padaria.cep}}</p>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-default" (click)="edit(padaria, padaria.key)">Editar</button>
        <button type="button" class="btn btn-danger ml-2" (click)="delete(padaria.key)">Excluir</button>
    </div>
</div>