:host {
    display: flex;
    justify-content: center;
    margin: 2%;
}

.mat-card-image {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 5%;
}

.mat-card-title
.mat-card-content {
  display: flex;
  justify-content: center;
}

.cardListClass {
    background-color: darkblue;
}

.text-style {
    text-transform: uppercase;
    text-align: center;
}

.toasty-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.toasty {
    border-radius: 10%;
    height: 400px;
    width: 500px;
    margin: 5%;
}