<mat-toolbar class="app-title">Produtos Cadastrados</mat-toolbar>

<div class="home-content">
    <mat-card class="home-card" *ngFor="let produto of produtos | async">
        <div class="card-body">
            <mat-card-header>
                <div mat-card-avatar></div>
                <mat-card-title>{{produto.titulo}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Descrição: {{produto.descricao}}</p>
                <p>Código de Barras: {{produto.codBarra}}</p>            
                <p>Validade: {{produto.validade}}</p>            
                <p>Padaria: {{produto.padaria}}</p>
                <p>Quantidade: {{produto.quantidade}}</p>
            </mat-card-content>
        </div>
        <mat-card-actions *ngIf="router.url === '/produtos'">
            <button color="accent" mat-raised-button (click)="edit(produto, produto.key)">Editar</button>
            <button color="warn" mat-raised-button (click)="delete(produto.key)">Excluir</button>
        </mat-card-actions>
    </mat-card>
</div>