.home-content {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 20px);
    justify-content: space-evenly;
     padding: 10px;
    .home-card {
      margin-bottom: 10px;
    }
  }
  
  .app-title {
    text-transform: uppercase;
    padding-left: 26px;
    justify-content: center;
    background: #070c52;
    color:white;
  }

  .mat-card-image {
    width: 182px;
    height: 268px;
    margin: auto;
    display: block;
  }
  
  .filtro-listagem {
    width: calc(100% - 50px);
  }
  
  @media screen and (min-width: 525px) {
    .home-content {
      .home-card {
        width: calc(50% - 52px);
      }
    }
  }
  
  @media screen and (min-width: 800px) {
    .home-content {
      .home-card {
        width: calc(33.33% - 52px);
      }
    }
  }
  
  @media screen and (min-width: 1300px) {
      .home-content {
        .home-card {
          width: calc(25% - 52px);
        }
      }
  }